@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('src/assets/Font/nanum/NanumSquareNeoOTF-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kotra';
    src: url('src/assets/Font/kotra/KOTRA_BOLD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'suite';
    src: url('src/assets/Font/suite/SUITE-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



.App{
    font-family: suite, serif;
    font-size: 1rem;
}

.login-sign-p{
    cursor: pointer;
}
.login-sign-p:hover{
    text-decoration: underline;
}
